
/* back-to-top button */
.sidebar__top {
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    z-index: 10;
  }

/* ubiquitous map containers */
.map-container {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}

/* captioning inline photos and figures */
p.caption {font-weight: bold; font-size: 12px; text-align: center}

/* darkred strikethrough */
strike.correction {color:darkred;}
span.uncorrected {color:#3d4144}

/* darkred text for correction */
span.correction {color:darkred;}